.login-page {
  margin-block-start: 15vh;

  .login-form,
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }

  .login-form input,
  .signup-form input {
    width: 120px;
  }

  .btn-link {
    color: whitesmoke;
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    transition: 0.5s;
  }
}
