.board-list-container {
  .board-list-recently-viewed {
    padding-inline-start: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: lightgrey;
    margin-top:90px;
      h4 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
    
   
    
  }
  .user-board-list {
    .your-workspaces {
      margin: 20px 0;

      h4 {
        color: #5e6c84;
        font-weight: 700;
        line-height: 24px;
      }
      div {
        color: rgb(23, 43, 77);
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-left: 20px;
        margin-top: 10px;
      }
    }
    .board-list-card {
      width: 195px;
      height: 95px;
      margin-right: 16.5px;
      background-color: black;
      text-decoration: none;
      .board-list-title {
        color: #fff;
        line-height: 20px;
        padding-top: 6px;
        padding-left: 6px;
        font-size: 16px;
        font-weight: 700;
      }
    }
    // h4 {
    //   color: #5e6c84;
    //   font-size: 16px;
    //   font-weight: 700;
    //   line-height: 24px;
    //   margin: 20px 0;
    // }
  }
}
