
body > div.MuiModal-root.MuiDialog-root.makeStyles-dialogContainer-2.css-zw3mfo-MuiModal-root-MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container > div{
    max-width: 768px;
    height: 900px;
    overflow-x: hidden;
    background-color: #f4f5f7;

}