.dialog-container{    
    
       

    
    .dialog{
        background-color: #f4f5f7;
        width: 485px;
        height: 1200px;
        padding: 15px;

    }
    .header-dialog{
        text-align: center;
    }
    .main-dialog{
        max-width: 80%;
       
    }
    .sidebar-menu-dialog{
        max-width: 80%;
        
       
    }
  
}