
.quick-task-editor-title-container{
    display: block;
}

.quick-task-editor-title-wrapper{
    background-color:transparent;
    position: absolute;
}

.quick-task-editor-title-input {
    box-sizing: border-box;
    min-height: 112px;
    height: 100%;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    right: 225px;
    
}

.quick-task-editor-title-save-btn{
    position: static;
    margin-top: 15px;
    margin-left: -225px;
    z-index: 1500;
}