.edit-icon{
    z-index: 200;
}

.quick-menu{
    left: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateX(-20px);
    transition: opacity 85ms ease-in,transform 85ms ease-in;
    width: 240px;
    z-index: 0;
}   