
.quick-task-editor-title-wrapper{
    background-color:transparent;
    position: absolute;
    position: fixed;

    
 


}

.quick-task-editor-title-input {
    box-sizing: border-box;
    min-height: 112px;
    height: 100%;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    position: fixed;
    right: 225px;
    
}

.quick-task-editor-title-save-btn{
    position: absolute;
    right: 413px;
    top:145px
}