.task-add-closed{
    width: 252px;
    background-color: rgba(240, 240, 240, 0.356);
    margin: 0 4px;
    margin-bottom: 8px;
    height: auto;
    min-height: 32px;
    padding: 8px;
    border-radius: 3px;
    transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
}

.task-add-open {
    height: 100%;
    display: flex;
    margin: 0 4px;
    padding: 8px;
    margin-bottom: 8px;
    vertical-align: top;
    white-space: nowrap;
    flex-direction: column;
    background-color: white;
    width: 252px;
    border-radius: 3px;
}

.task-add-input{
    background-color:rgb(255, 255, 255);
}