// Colors
$clr1: #dff0ea;
$clr2: #ffffff;
$clr3: #5e6c84;
$clr4: #172b4d;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Border radius
$borderRad1: 3px;
$borderRad2: 5px;